@font-face {
  font-family: "Arial";
  src: url("/shelter/assets/fonts/fonts/fonts/arial/arial-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("/shelter/assets/fonts/fonts/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
}
body {
  overflow: auto;
  position: relative;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 75rem;
  margin-left: 40px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: #545454;
}

* {
  box-sizing: border-box;
}

.footer-subtitle:hover, .footer-subtitle:focus, .footer-subtitle:active, .btn:hover, .btn:active, .pet-card_btn:hover, .pet-card_btn:active, .pet-card:hover .pet-card_btn, .nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link, .nav-item a.active:hover, .nav-item a.active:after {
  transition: all 0.5s ease;
}

/* ### HEADER ### */
header .wrapper .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 31px;
}

header .wrapper .header .logo {
  width: 186px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
  margin-left: -20px;
}

header .wrapper .header .logo h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 0px;
}

header .wrapper .header .logo .logo-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #292929;
  margin-top: -14px;
  margin-left: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  margin-right: 22px;
}

#fbmenu {
  position: relative;
}

.nav-item {
  margin-right: 35px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item a {
  display: inline-block;
  color: #545454;
}

.nav-item a.active:after {
  display: block;
  content: "";
  height: 3px;
  background-color: #F1CDB3;
}

.nav-item a.active:hover {
  color: #545454;
  cursor: default;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
  width: 100%;
}

.nav-link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #292929;
  font-weight: 300;
}

@media (max-width: 1279px) {
  header .wrapper .header {
    margin-left: -10px;
  }
  header .wrapper .header .logo {
    margin-left: 0px;
  }
  .nav {
    margin-right: 32px;
  }
}
/* ### FRIENDS ### */
.all-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 370px;
  height: 90px;
  margin-top: 0;
}

.friends-text {
  height: 90px;
  margin-top: 80px;
  text-align: center;
}

.friends-title {
  width: 400px;
}

.friends {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background: #F6F6F6;
  align-items: center;
  margin-top: 29px;
}

.deck {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background: #F6F6F6;
  /* height: 435px; */
  margin-top: 60px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 40px;
  margin-bottom: 30px;
}

.pet-card_h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
}

.pet-card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-right: 40px;
}
.pet-card:hover {
  transition: all 0.5s ease;
  box-shadow: 0px 3px 26px -11px rgb(66, 68, 90);
}

.pet-card:hover .pet-card_btn {
  background: #FDDCC4;
}

.pet-card_btn {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  background: #FAFAFA;
  border: 2px solid #FDDCC4;
  margin-top: 30px;
  margin-left: 41px;
  transition: all 0.5s ease;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 45px;
}
.pet-card_btn:hover, .pet-card_btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.button_down {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 383px;
  height: 50px;
  margin-left: 449px;
  margin-bottom: 197px;
  margin-top: -65px;
}

.btn {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  margin-top: 193px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: transparent;
}
.btn:hover, .btn:active {
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.active-btn {
  background: #F1CDB3;
  cursor: default;
}

.gray-style {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  cursor: not-allowed;
}
.gray-style:hover, .gray-style:active {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  background: transparent;
}

@media (max-width: 1279px) {
  .friends {
    margin: auto;
    margin-top: 29px;
  }
  .deck {
    margin-top: 30px;
  }
  .friends-text {
    margin-left: 0px;
  }
  .friends-title {
    margin-bottom: 0px;
  }
  .cards {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 93px;
    margin-bottom: 0px;
  }
  .pet-card {
    margin-right: 40px;
    margin-bottom: 30px;
  }
  .button_down {
    margin-left: 193px;
    margin-bottom: 174px;
    margin-top: -86px;
  }
  .turn-off {
    display: none;
  }
}
/* ### FOOTER ### */
.bg-gradient {
  background: url(../../../shelter/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 300px;
  margin-top: 23px;
  margin-left: -20px;
}

.addres {
  margin-left: 139px;
}

.picture {
  margin-left: 161px;
  margin-top: 40px;
}

.footer-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
}
.footer-subtitle:hover, .footer-subtitle:focus, .footer-subtitle:active {
  color: rgba(204, 136, 59, 0.8549019608);
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-subtext {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-top: -5px;
  cursor: pointer;
}

.box_down {
  margin-top: 22px;
}

@media (max-width: 1279px) {
  .contact {
    flex-wrap: wrap;
    margin-top: -3px;
    margin-left: 24px;
    margin-right: 6px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .box {
    margin-top: -3px;
  }
  .addres {
    margin-left: 33px;
  }
  .footer-subtext {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-top: -6px;
    margin-bottom: 27px;
  }
  .box_down {
    margin-top: 21px;
  }
  .picture {
    margin-left: 194px;
    margin-top: 29px;
  }
}/*# sourceMappingURL=style.css.map */