@font-face {
  font-family: "Arial";
  src: url("/shelter/assets/fonts/fonts/fonts/arial/arial-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("/shelter/assets/fonts/fonts/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
}
body {
  overflow: auto;
  position: relative;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 75rem;
  margin-left: 0px;
}

html {
  scroll-behavior: smooth;
  background: url(../../../shelter/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: #545454;
}

* {
  box-sizing: border-box;
}

.footer-subtitle:hover, .footer-subtitle:focus, .footer-subtitle:active, .donation-number:hover, .donation-number, .pet-btn:hover, .pet-btn:active, .pet-btn, .pet-card:hover .pet-card_btn, .pet-card:hover, .pet-card, .right-btn:hover, .right-btn:active, .right-btn, .left-btn:hover, .left-btn:active, .left-btn, .info-button:hover, .info-button:active, .info-button, .nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link, .nav-item a.active:hover, .nav-item a.active:after {
  transition: all 0.5s ease;
}

/* ### HEADER ### */
header .wrapper .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 31px;
}

header .wrapper .header .logo {
  width: 186px;
  height: 60px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

header .wrapper .header .logo h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-top: 0px;
}

header .wrapper .header .logo .logo-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-top: -14px;
  margin-left: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  margin-top: 8px;
}

#fbmenu {
  position: relative;
}

.nav-item {
  margin-right: 35px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item a {
  display: inline-block;
  color: #CDCDCD;
}

.nav-item a.active:after {
  display: block;
  content: "";
  height: 3px;
  background-color: #F1CDB3;
}

.nav-item a.active:hover {
  color: #CDCDCD;
  cursor: default;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
  width: 100%;
}

.nav-link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #FAFAFA;
}

@media (max-width: 1279px) {
  header .wrapper .header {
    margin-left: 30px;
  }
  .nav {
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  header .wrapper .header {
    margin-left: 19px;
  }
  .nav {
    display: none;
  }
  .fbmenu {
    z-index: 4;
    position: relative;
    height: 22px;
    width: 30px;
    cursor: pointer;
    margin-left: -50px;
  }
  .fbmenu span,
  .fbmenu::before,
  .fbmenu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #F1CDB3;
  }
  .fbmenu::before,
  .fbmenu::after {
    content: "";
  }
  .fbmenu::before {
    top: 0;
  }
  .fbmenu::after {
    bottom: 0;
  }
  .fbmenu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .fbmenu._active span {
    top: 50%;
    left: -10px;
    transform: rotate(90deg) translate(0px, 50%);
  }
  .fbmenu._active::before {
    top: 50%;
    left: 10px;
    transform: rotate(90deg) translate(0px, 50%);
  }
  .fbmenu._active::after {
    top: 50%;
    transform: rotate(90deg) translate(0px, 50%);
  }
}
/* ### NOT ONLY ### */
main .wrapper .info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

main .wrapper .info .info-text {
  width: 460px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 253px;
}

main .wrapper .info .info-text .info-text_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  width: 310px;
  margin-top: 0;
}

main .wrapper .info .info-text .info-text_subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  width: 100%;
  height: 72px;
  margin-top: 6px;
}

.info-button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  margin: 0;
  border: 2px solid #FDDCC4;
  margin-top: 25px;
  cursor: pointer;
}
.info-button:hover, .info-button:active {
  background: #FDDCC4;
}

.info-img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 89px;
}

@media (max-width: 1279px) {
  main .wrapper .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  main .wrapper .info .info-text .info-text_title {
    width: 80%;
  }
  main .wrapper .info .info-text {
    margin-top: 60px;
    width: 60%;
    flex-direction: column;
  }
  .info-button {
    margin-left: 126px;
  }
  .info-img {
    width: 100%;
    margin-top: 99px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 52px;
  }
  .img-size {
    width: 74%;
  }
  .info-img_size {
    width: 74%;
  }
}
@media (max-width: 767px) {
  main .wrapper .info .info-text {
    align-items: center;
    width: 100%;
  }
  main .wrapper .info .info-text .info-text_title {
    font-size: 25px;
    width: 80%;
    text-align: center;
    letter-spacing: 0.06em;
  }
  main .wrapper .info .info-text .info-text_subtitle {
    text-align: center;
    width: 95%;
    margin-top: 19px;
  }
  .info-button {
    margin-left: 0px;
    margin-top: 51px;
  }
  .info-img {
    margin-top: 76px;
    margin-right: 18px;
  }
  .info-img_size {
    width: 82%;
  }
}
/* ### ABOUT ### */
main .bg-white {
  background: #FFFFFF;
}

main .bg-white .about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.about-img {
  margin-top: 80px;
  margin-left: 175px;
  margin-bottom: 95px;
}

.about-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-grow: 3;
  margin-top: 93px;
  margin-left: 120px;
}

.all-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 0;
}

.about-title {
  width: 67%;
}

.about-subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 159%;
  color: #4C4C4C;
  width: 70%;
  margin-top: -10px;
  margin-bottom: 36px;
}

@media (max-width: 1279px) {
  main .bg-white .about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
  .about-img {
    margin-left: 215px;
    margin-bottom: 95px;
    margin-top: 33px;
  }
  .about-img_size {
    margin-top: 11px;
    margin-left: 19px;
  }
  .about-text {
    width: 80%;
    margin-top: 80px;
    padding-left: 49px;
  }
  .about-title {
    width: 55%;
  }
  .about-subtitle {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .about {
    align-items: center;
  }
  .about-text {
    width: 90%;
    margin-top: 42px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .all-title {
    font-size: 25px;
    text-align: center;
    width: 100%;
  }
  .about-title {
    margin-bottom: 34px;
  }
  .about-subtitle {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 36px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-img {
    margin-left: 0px;
    justify-content: center;
    display: flex;
    margin-top: 3px;
    margin-bottom: 0px;
  }
  .about-img_size {
    width: 87%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 42px;
  }
}
/* ### FRIENDS ### */
.friends-text {
  margin-left: 210px;
  margin-top: 80px;
  text-align: center;
}

.friends-title {
  width: 70%;
  margin-bottom: 0px;
}

.left-btn {
  position: reltive;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  transform: rotate(-180deg);
  margin-top: 193px;
  margin-left: 40px;
  cursor: pointer;
}
.left-btn:hover, .left-btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.right-btn {
  position: reltive;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  margin-left: 54px;
  margin-right: 40px;
  margin-top: 193px;
  cursor: pointer;
}
.right-btn:hover, .right-btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.friends {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background: #F6F6F6;
}

.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #F6F6F6;
  width: 100%;
  margin-top: 61px;
  max-width: 1280px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 55px;
  width: 80%;
}

.pet-card_h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
}

.pet-card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}
.pet-card:hover {
  box-shadow: 0px 3px 26px -11px rgb(66, 68, 90);
}

.pet-card:hover .pet-card_btn {
  background: #FDDCC4;
}

.pet-card_btn {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  background: #F6F6F6;
  border: 2px solid #FDDCC4;
  margin-top: 30px;
  margin-left: 41px;
  transition: all 0.5s ease;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 45px;
}

.pet-btn {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
  margin-top: 60px;
  margin-bottom: 100px;
  cursor: pointer;
}
.pet-btn:hover, .pet-btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

@media (max-width: 1279px) {
  .friends-text {
    height: 90px;
    margin-left: 150px;
    margin-right: 148px;
    margin-top: 80px;
    text-align: center;
  }
  .friends-title {
    width: 100%;
  }
  .cards {
    justify-content: flex-start;
    margin-left: 0px;
    overflow: hidden;
  }
  .deck {
    margin-top: 60px;
  }
  .pet-card {
    margin-left: 23px;
    margin-right: 17px;
  }
  .pet-card:nth-child(2n) {
    margin-left: 39px;
  }
  .pet-btn {
    margin-left: auto;
  }
  .left-btn {
    margin-left: 20px;
    margin-right: -11px;
  }
  .right-btn {
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media (max-width: 1150px) {
  .turn-off {
    opacity: 0;
    animation: any 0.5s forwards;
  }
  @keyframes any {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
@media (max-width: 767px) {
  .friends {
    padding-top: 42px;
  }
  .friends-text {
    text-align: center;
    margin: 0;
  }
  .deck {
    margin-top: 15px;
    margin-left: 0px;
  }
  .cards {
    width: 100%;
  }
  .turn-off_320 {
    opacity: 0;
    animation: any 0.5s forwards;
  }
  .left-btn {
    position: absolute;
    margin-top: 456px;
    margin-left: 111px;
    margin-right: 243px;
  }
  .right-btn {
    position: absolute;
    margin-top: 456px;
    margin-left: 191px;
    margin-right: 59px;
  }
  .pet-btn {
    margin-top: 115px;
    margin-bottom: 42px;
  }
}
/* ### HELP ### */
.help {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 46px;
}

.help-text {
  padding-top: 80px;
  margin-left: 156px;
  text-align: center;
}

.help-title {
  width: 70%;
}

.help-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 119px;
  justify-content: center;
  padding-top: 24px;
}

.item-text_h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.item {
  margin-bottom: 26px;
  text-align: center;
}

@media (max-width: 1279px) {
  .help-text {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .help-list {
    width: 90%;
  }
}
@media (max-width: 892px) {
  .help-list {
    width: 100%;
    padding: 0 69px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .help-text {
    padding-bottom: 24px;
  }
  .item {
    margin-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .item {
    min-width: 130px;
  }
}
@media (max-width: 650px) {
  .help-list {
    padding: 0 15px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 375px) {
  .help_img {
    width: 50px;
    height: 50px;
  }
  .item-text_h4 {
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  .help {
    margin-bottom: 14px;
  }
  .help-text {
    padding-top: 42px;
    padding-bottom: 16px;
    width: 100%;
  }
  .help-list {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
}
/* ### ADDITION ### */
.bg-light-grey {
  background: #F6F6F6;
}

.donation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.donation-img {
  margin-top: 91px;
  margin-left: 143px;
}

.donation-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 31px;
  margin-bottom: 88px;
}

.donation-title {
  margin-top: 80px;
  width: 60%;
}

.donation-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: -14px;
}

.donation-number {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  margin-top: -6px;
  cursor: pointer;
}
.donation-number:hover {
  background: #FDDCC4;
}

.card-number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-left: 16px;
}

.card-img {
  margin-left: 14px;
  margin-top: 10px;
}

.donation-info {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  margin-top: 20px;
  margin-left: -1px;
  width: 380px;
  height: 72px;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}

@media (max-width: 1279px) {
  .donation {
    flex-direction: column-reverse;
  }
  .donation-text {
    margin-left: 194px;
    margin-bottom: 0px;
  }
  .donation-title {
    width: 55%;
  }
  .donation-img {
    margin-top: 49px;
    margin-bottom: 99px;
    justify-content: center;
    display: flex;
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .donation-text {
    align-items: center;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .donation-title {
    margin-top: 42px;
    width: 70%;
  }
  .donation-subtitle {
    letter-spacing: 0em;
    margin-top: -2px;
  }
  .donation-number {
    margin-top: -2px;
    width: 281px;
  }
  .card-number {
    font-size: 15px;
  }
  .donation-info {
    text-align: justify;
    width: 280px;
    margin-top: 29px;
  }
  .donation-img {
    margin-top: 40px;
    margin-bottom: 42px;
  }
  .d-dog_image {
    width: 81%;
  }
}
/* ### FOOTER ### */
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 300px;
  margin-top: 23px;
}

.addres {
  margin-left: 139px;
}

.picture {
  margin-left: 161px;
  margin-top: 40px;
}

.footer-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
}
.footer-subtitle:hover, .footer-subtitle:focus, .footer-subtitle:active {
  color: rgba(204, 136, 59, 0.8549019608);
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-subtext {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-top: -5px;
  cursor: pointer;
}

.box_down {
  margin-top: 22px;
}

@media (max-width: 1279px) {
  .contact {
    flex-wrap: wrap;
    margin-top: -3px;
    margin-left: 64px;
    margin-right: 6px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box {
    margin-top: -3px;
  }
  .addres {
    margin-left: 33px;
    margin-right: 65px;
  }
  .footer-subtext {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-top: -5px;
  }
  .box_down {
    margin-top: 21px;
  }
  .picture {
    margin-left: 234px;
    margin-top: 55px;
  }
}
@media (max-width: 767px) {
  .footer {
    flex-direction: row;
    align-items: center;
  }
  .footer-title {
    width: 90%;
    font-size: 25px;
    text-align: center;
    margin-left: 14px;
    margin-top: 38px;
    margin-bottom: 10px;
  }
  .contact {
    margin-top: -8px;
    margin-bottom: 11px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .addres {
    margin-top: -20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .box_up {
    margin-top: 1px;
    margin-bottom: 8px;
    margin-left: -6px;
  }
  .box_position_320 {
    margin-left: -29px;
  }
  .footer-subtext {
    justify-content: center;
    margin-top: 23px;
  }
  .picture {
    margin: 0;
    width: 80%;
    margin-top: 36px;
  }
}
@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */